html {
    background-color: #DDDDDD;
    padding:0;
    min-width:700px;
    max-width: 100%;
}
body {
    padding:0;
    margin: 0;
    
}
#header {	
    margin:0;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    
}

#header h1 {
    color: rgb(140, 40, 40);
    text-align: center;
    
    
}

#navigation {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width:100%;    
    
    

}
#navigation ul{
    padding:0;
    text-align: center;
}

#navigation ul li{
    list-style: none;
    
    display:inline;
}

#navigation ul li a:hover{
	opacity: 0.7;	
}

#navigation ul li a {
    display: inline-block;
    opacity: .4;
    padding-top:0;
    padding-bottom:0;
    padding-left: .8em;
    padding-right: .8em;
}
#navigation .chosen {
    opacity: 1;
}
#navigation .chosen:hover {
    opacity: 1;
}


#view  {
    margin-left: auto;
    margin-right: auto;
    width:700px;
    
    
    background-color: whitesmoke; /* #EDF2F2;*/
    
    border:1px solid;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    
}

#view article {
    padding-left: 1em;
    padding-right: 1em;
}

#movie {
    margin-left:auto;
    margin-right:auto;
    padding:0 0;
    background: #090909;
    box-shadow: 0 0 20px #000;
}
